<%
  def template_cache_read(file)
    ERB.new(
     File.read("public/#{file}")
      .gsub("\n", '').gsub("'", "\\\\'")
    ).result
  end
%>
var app = angular.module('zetland', [
  'ng-token-auth',
  'ngFileUpload',
  'ui.grid'
])
.config(function($authProvider) {
  $authProvider.configure({
    apiUrl: '<%= Rails.configuration.x.api_url %>/api',
  });
})
.config(function($qProvider) {
  $qProvider.errorOnUnhandledRejections(false);
})
.directive('fileModel', ['$parse', function ($parse) {
  return {
    restrict: 'A',
    link: function(scope, element, attrs) {
      var model = $parse(attrs.fileModel);
      var modelSetter = model.assign;
      element.bind('change', function(){
         scope.$apply(function(){
            modelSetter(scope, element[0].files[0]);
         });
      });
    }
  };
}])
.run(function($templateCache) {
  $templateCache.put('comments.html', '<%=template_cache_read('comments.html') %>');
  $templateCache.put('authenticate.html', '<%=template_cache_read('authenticate.html') %>');
  $templateCache.put('pins.html', '<%=template_cache_read('pins.html') %>');
  $templateCache.put('zetland_app.html', '<%=template_cache_read('zetland_app.html') %>');
  $templateCache.put('regmodal.html', '<%=template_cache_read('regmodal.html') %>');
  $templateCache.put('sharemodal.html', '<%=template_cache_read('sharemodal.html') %>');
  $templateCache.put('sharebox.html', '<%=template_cache_read('sharebox.html') %>');
  $templateCache.put('contributor.html', '<%=template_cache_read('contributor.html') %>');
  $templateCache.put('zetdmin.html', '<%=template_cache_read('zetdmin.html') %>');
});
// 1aaawwwqweiowertpkaoquqoi7o9piaqq
