app.directive("comments", ['$http', '$sce', '$rootScope', '$timeout', '$window',
  function($http, $sce, $rootScope, $timeout, $window) {
  return {
    restrict: "E",
    scope: {
        comment: "=comment",
        authenticity_token: "=authenticity_token",
        topic: "=topic",
        level: "=level",
        user: "=user"
    },
    templateUrl: 'comments.html',
    link: function (scope) {
      scope.api_url = '<%= Rails.configuration.x.api_url %>/api';
      scope.total_count = 0;
      scope.$watch(function() {
        return $rootScope.commentsFilter;
      }, function() {
        scope.loadContributions();
      }, true)
      scope.loadContributions = function(){
        scope.loading = true;
        scope.comments = scope.comments || [];
        var ids = [];
        scope.comments.forEach(function(c){
          ids.push(c.id);
        });
        if(scope.comment){
          if(!scope.level){ scope.level = 0 }
          scope.level += 1;
          $http
            .get(scope.api_url + '/topics/' + scope.topic.id + '/contributions/' + scope.comment.id,
            {
              params: {'exclude[]': ids, 'filter': $rootScope.commentsFilter}
            })
            .then(function(result) {
               scope.total_count = scope.comment.contributions_count;
               result.data.forEach(function(c){
                 scope.comments.push(c);
               });
               scope.loading = false;
               if(scope.comments.length > 0){
                 scope.commenting = false;
               }
               else{
                 scope.commenting = true;
               }
            });
        }
        else{
          $http
            .get(scope.api_url + '/topics/' + scope.topic.id + '/contributions',
            {
              params: {'exclude[]': ids, 'filter': $rootScope.commentsFilter}
            })
            .then(function(result) {
              scope.total_count = scope.$parent.total_count;
              result.data.forEach(function(c){
                scope.comments.push(c);
              });
              scope.loading = false;
              scope.commenting = true;
          });
        }
      }
      scope.sanitize = function(comment){
        comment.sce_html = $sce.trustAsHtml(comment.body_html);
      }
      scope.toggleReply = function(comment){
        if(comment.showReply){
          comment.showReply = false;
        }
        else{
          comment.showReply = true;
        }
      }
      scope.toggleReplies = function(comment){
        console.log(scope)
        if(comment.showReplies){
          comment.showReplies = false;
        }
        else{
          comment.showReplies = true;
        }
      }
      scope.sendComment = function(comment, v){
        if(comment){
          var text = scope.form.text2.trim();
        }
        else{
          var text = scope.form.text.trim();
        }

        if(text.length == 0) return
        scope.commenting = false;
        $http
          .post(scope.api_url + '/topics/' + scope.topic.id + '/contributions', {
            contribution_id: comment ? comment.id : null,
            body: text,
            authenticity_token: scope.findAuthenticityToken(scope)
          })
          .then(function(result){
            scope.form.text = '';
            scope.form.text2 = '';

            if(comment){
              console.log(scope);

              comment.showReplies = true;
              comment.showReply = false;
              scope.comments.push(result.data);
            }
            else{
              scope.comments.unshift(result.data);
              scope.commenting = true;
            }
          }, function(result){
            console.log('error');
          });
      }
      scope.sendLike = function(comment){
        $http
          .post(scope.api_url + '/topics/' + scope.topic.id + '/contributions/' + comment.id + '/like')
          .then(function(result){
            comment.likes_count = result.data.likes;
            if(result.data.dir == 'down'){
              comment.current_user_likes = [];
            }
            else{
              comment.current_user_likes.push(result.data.user_like);
            }
          });
      }

      scope.block = function(user){
        var r = $window.confirm('Biztos blokkolni akarod ezt a felhasználót?')
        if(r){
        $http
          .patch(scope.api_url + '/users/' + user.id + '/block')
          .then(function(response){

          }, function(response) {
            console.log('error');
          });
        }
      }

      scope.pin = function(comment, event){
        comment.pinning = true;
        $http
          .get(scope.api_url + '/topics/' + scope.topic.id + '/contributions/' + comment.id + '/text')
          .then(function(response){
            scope.pinForm = {};
            scope.pinForm.text = response.data.body;
            scope.autoExpand(event);
          }, function(response){
            alert('Valammi nem stimmel :(')
          });
      }

      scope.sendPin = function(comment, pinForm){
        $http
          .post(scope.api_url + '/topics/' + scope.topic.id + '/contributions/' + comment.id + '/pin', pinForm)
          .then(function(response){
            comment.pinnig = false;
            scope.topic.pins.push(response.data);
            comment.pinning = false;
          }, function(response){
          });
      }

      scope.moderate = function(comment){
        var r = $window.confirm('Biztos moderálni akarod ezt a hozzászólást?')
        if(r){
          $http
            .delete(scope.api_url + '/topics/' + scope.topic.id + '/contributions/' + comment.id)
            .then(function(response){
              var i = scope.comments.indexOf(comment);
                  scope.comments.splice(i, 1);
            }, function(response){

            });
        }
      }

      scope.restore = function(comment){
        var r = $window.confirm('Biztos vissza akarod állítani ezt a hozzászólást?')
        if(r){
          $http
            .post(scope.api_url + '/topics/' + scope.topic.id + '/contributions/' + comment.id + '/restore')
            .then(function(response){
              scope.comments = [];
              scope.loadContributions();
            }, function(response){

            });
        }
      }

      scope.showForm = function(){
        scope.commenting = true;
      }
      scope.findAuthenticityToken = function(s){
        if(s.authenticity_token){
          return s.authenticity_token;
        }
        else{
          if(s.$parent){
            return scope.findAuthenticityToken(s.$parent);
          }
        }
      }
      scope.commenting = false;

// comment.current_user_likes.length == 0 ? 'not-liked' : 'liked'
      scope.commentLikeClass = function(comment){
        if(!$rootScope.user) {
          return 'not-user';
        }
        else if (!comment.current_user_likes || comment.current_user_likes.length == 0) {
          return 'not-liked';
        }
        return 'liked';
      }

      scope.showUserModal = function(user) {
        $rootScope.modalUser = user;
        $rootScope.modalUser.sce_bio = $sce.trustAsHtml($rootScope.modalUser.bio_html);
        if(scope.level == 1){
          s = scope.$parent.$parent.$parent.$parent.$parent.$parent;
        }
        else{
          s = scope.$parent.$parent;
        }
        console.log(scope, s);
        s.modalUser = user;
        s.showContributorModal = true;
      }

      scope.autoExpand = function(e) {
        var element = typeof e === 'object' ? e.target : document.getElementById(e);
    		var scrollHeight = element.scrollHeight -22;
        element.style.height =  scrollHeight + "px";
      };
      function expand() {
        $scope.autoExpand('TextArea');
      }
      // scope.loadContributions();
    }
  };
}]);
