app.controller('commentController', ['$rootScope', '$scope', '$http', '$auth', '$location', '$window',
  function($rootScope, $scope, $http, $auth, $location, $window) {
    $scope.api_url = '<%= Rails.configuration.x.api_url %>/api';
    $scope.total_count = 0;
    $scope.topicLoaded = false;
    $scope.showRegModal = false;
    $scope.showShareModal = false;
    $scope.showContributorModal = false;
    $rootScope.commentsFilter = 'default'

    $scope.likeTopic = function(){
      $http
        .post($scope.api_url + '/topics/' + $scope.topic.id + '/like')
        .then(function(response){
          console.log(response);
          $scope.topic_user_like = response.data.user_like;
          $scope.topic.likes_count = response.data.likes;
          $scope.topic.current_user_likes.push(response.data.user_like);
        });
    }
    $scope.setTopic = function(id){
      $scope.topic = {};
      $scope.topic.id = id;
      $auth.validateUser().then(function(result){

      }, function(result){
        $rootScope.user = null;
      });
      $http
        .get($scope.api_url + '/topics/' + $scope.topic.id)
        .then(function(result) {
          $scope.topic = result.data;
          $scope.total_count = result.data.contributions_count;
          $scope.topicLoaded = true;
      });
    }

    $rootScope.admin = function(){
      return $rootScope.user && $rootScope.user.role == 'admin'
    }

    $rootScope.powerUser = function(){
      return $rootScope.user &&
        ($rootScope.user.role == 'admin' || $rootScope.user.role == 'power');
    }

    $rootScope.simple = function(){
      return $rootScope.user &&
        ($rootScope.user.role == 'admin' ||
         $rootScope.user.role == 'power' ||
         $rootScope.user.role == 'user');
    }

    $scope.shareGoogle = function(){
      var url = 'https://plus.google.com/share?url=' +
        encodeURIComponent($location.absUrl());
        $window.open(url, '_blank');
    }

    $scope.shareTwitter = function(){
      var url = 'https://twitter.com/intent/tweet?url=' +
        encodeURIComponent($location.absUrl());
        $window.open(url, '_blank');
    }

    $scope.shareTumblr = function(){
      var url = 'https://www.tumblr.com/share/link?url=' +
        encodeURIComponent($location.absUrl());
        $window.open(url, '_blank');
    }

    $scope.shareFacebook = function(){
      console.log('fb', FB);
      FB.ui({
        method: 'share',
        href: $location.absUrl()
      }, function(response){
        console.log('shared');
      });
      console.log('share started')
    }
  }
]);
