<div class="authentication_box" ng-if="user">
  <p>Bejelentkezve: {{ user.name }} | <a ng-click="logout()">Kijelentkezés</a> | <a ng-click="profile()">Profil</a>
    <span ng-if="admin()">
      | <a ng-if="!showAllComments" ng-click="showDeleted()">Törölt&nbsp;kommentek&nbsp;mutatása</a>
      <a ng-if="showAllComments" ng-click="hideDeleted()">Törölt&nbsp;kommentek&nbsp;elrejtése</a>
      | <a ng-click="showUsers()">Felhasználók</a>
    </span>
  </p>
  <p ng-if="user.role == 'blocked'">
    A Direkt36 kommentelési rendszeréhez való hozzáférésedet blokkoltuk,
  mert megsértetted a hozzászólások szabályait. Ha nem értesz egyet a döntéssel
  vagy hibáztunk és ok nélkül blokkoltuk a hozzáférésedet, akkor írj nekünk a
  <a href="mailto:komment@direkt36.hu">komment@direkt36.hu</a> címre</p>

  <div ng-if="showAdminUsers && admin()">
    <zetadmin></zetadmin>
  </div>

  <div class="profile_box options_box" ng-if="showUserOptions">
    <div class="user_username_options options_segment clearfix clear-left"><div class="options_wrapper">
      <p>Felhasználónév megváltoztatása</p>
      <form class="" ng-init="nameForm.name = user.name">
        <input type="text" placeholder="Felhasználónév" ng-model="nameForm.name" ng-change="nameForm.errors = null;nameForm.notes = null">
        <ul class="errors" ng-if="nameForm.errors" ng-repeat="error in nameForm.errors">
          <li>{{ error }}</li>
        </ul>
        <ul class="notes" ng-if="nameForm.notes" ng-repeat="note in nameForm.notes">
          <li>{{ note }}</li>
        </ul>
        <input class="btn big-red" type="submit" ng-click="changeName(nameForm)" value="Ok">
      </form>
    </div></div>
    <div class="user_username_options options_segment clearfix"><div class="options_wrapper">
      <p>Bio</p>
      <form class="" ng-init="bioForm.bio = user.bio">
        <textarea name="comment_answer_text" ng-model="bioForm.bio" ng-keyup="autoExpand($event)" ng-focus="autoExpand($event);bioForm.errors = null;bioForm.notes = null" placeholder="Bio"></textarea>
        <ul class="errors" ng-if="bioForm.errors" ng-repeat="error in bioForm.errors">
          <li>{{ error }}</li>
        </ul>
        <ul class="notes" ng-if="bioForm.notes" ng-repeat="note in bioForm.notes">
          <li>{{ note }}</li>
        </ul>
        <input class="btn big-red" type="submit" ng-click="changeBio(bioForm)" value="Ok">
      </form>
    </div></div>
    <div class="user_avatar_options options_segment clearfix clear-left"><div class="options_wrapper">
      <p>Új felhasználó avatár feltöltése</p>
      <form class="">
        <div class="avatar_inline">
          <img ng-src="<%= Rails.configuration.x.api_url %>{{user.avatar_url}}" alt="user_image">
          <input file-model="avatarForm.avatar" type="file" accept="image/*" name="avatar">
        </div>

        <input class="btn big-red" type="submit" ng-click="uploadImage(avatarForm)" value="Ok">
      </form>
    </div></div>
    <div class="user_passwd_options options_segment clearfix"><div class="options_wrapper">
      <p>Jelszó megváltoztatása</p>
      <form class="">
        <input type="password" ng-model="pwForm.password" placeholder="Új jelszó" ng-change="pwForm.errors = null;pwForm.notes = null">
        <input type="password" ng-model="pwForm.password_confirmation" placeholder="Jelszó újra" ng-change="pwForm.errors = null;pwForm.notes = null">
        <ul class="errors" ng-if="pwForm.errors" ng-repeat="error in pwForm.errors">
          <li>{{ error }}</li>
        </ul>
        <ul class="notes" ng-if="pwForm.notes" ng-repeat="note in pwForm.notes">
          <li>{{ note }}</li>
        </ul>
        <input class="btn big-red" type="submit" ng-click="changePassword(pwForm)" value="Ok">
      </form>
    </div></div>
    <div class="options_segment clearfix clear-left"><div class="options_wrapper">
      <p>Felhasználói fiók törlése</p>
      <a class="destroy_account_link" confirmed-click="deleteUser()" ng-confirm-click="Biztosan törölni szeretnéd a fiókodat?">Törlés</a>
    </div></div>
  </div>
</div>

<div class="authentication_box" ng-if="!user">
  <div class="auth_info_box">
    <p>A hozzászóláshoz be kell jelentkezned!</p>
  </div>
  <div class="auth_forms_container">
    <div class="auth_left auth_login" ng-if="!resetFormEnabled">
      <p>Ha Direkt36 felhasználó vagy, beléphetsz itt.</p>
      <form class="login_form">
        <input type="text" ng-model="loginForm.email" placeholder="Email cím">
        <input type="password" ng-model="loginForm.password" placeholder="Jelszó">
        <ul class="errors" ng-if="loginForm.errors" ng-repeat="error in loginForm.errors">
          <li>{{ error }}</li>
        </ul>
        <input type="submit" name="" value="Ok" class="btn big-red" ng-click="login(loginForm)">
      </form>
      <p>
        <a ng-click="showResetForm()">Elfelejtett jelszó</a>
      </p>
    </div>
    <div class="auth_left auth_reset_password"ng-if="resetFormEnabled">
      <p>Add meg az email címed és kattints a levélben kapott linkre</p>
      <form class="reset_password_form">
        <input type="text" ng-model="resetForm.email" placeholder="Email cím">
        <ul class="errors" ng-if="resetForm.errors" ng-repeat="error in resetForm.errors">
          <li>{{ error }}</li>
        </ul>
        <ul class="notes" ng-if="resetForm.notes" ng-repeat="note in resetForm.notes">
          <li>{{ note }}</li>
        </ul>
        <input type="submit" name="" value="Ok" class="btn big-red" ng-click="reset(resetForm)">
      </form>
      <p>
        <a ng-click="showLoginForm()">Belépés</a>
      </p>
    </div>
    <div class="auth_left auth_register">
      <p>Ha még nem vagy tag, regisztrálhatsz.</p>
      <form class="reg_form">
        <div ng-if="!signupForm.hide">
          <input type="text" ng-model="signupForm.name" placeholder="Felhasználónév">
          <input type="text" ng-model="signupForm.email" placeholder="Email cím">
          <input type="password" ng-model="signupForm.password" placeholder="Jelszó">
          <input type="password" ng-model="signupForm.password_confirmation" placeholder="Jelszó újra">
        </div>
        <ul class="errors" ng-if="signupForm.errors" ng-repeat="error in signupForm.errors">
          <li>{{ error }}</li>
        </ul>
        <ul class="notes" ng-if="signupForm.notes" ng-repeat="note in signupForm.notes">
          <li>{{ note }}</li>
        </ul>
        <input type="submit" value="Ok" class="btn big-red" ng-click="signupModal()" ng-if="!signupForm.hide">
      </form>
    </div>
  </div>
  <div class="oauth_options_container">
    <p>Beléphetsz Facebook vagy Google regisztrációddal is</p>
    <div class="oauth_buttons">
      <a href="#" ng-click="facebookModal()"><i class="fa fa-facebook-official social_img" aria-hidden="true"></i></a>
      <a href="#" ng-click="googleModal()"><i class="fa fa-google social_img" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
