<div class="comment_box clearfix" ng-init="form.text = ''">
  <form class="comment_answer_form clearfix" ng-if="$root.simple() && !comment">
    <textarea name="comment_answer_text" ng-model="form.text" ng-keyup="autoExpand($event)" placeholder="Hozzászólás"></textarea>
    <a class="btn big-red" ng-click="sendComment(comment)">Mehet</a>
  </form>

  <div ng-if="!comment || comment.showReplies">
    <div class="comment_thread clearfix" ng-repeat="comment in comments">
      <div ng-init="comment.comments = []"></div>
      <div class="comment main_comment" ng-class="{'deleted_comment': comment.deleted_at != null}">
        <div class="comment_header clearfix">
          <div class="comment_header_avatar_container">
            <a ng-click="showUserModal(comment.user)">
              <img class="comment_header_avatar" ng-src="<%= Rails.configuration.x.api_url %>{{comment.user.avatar_url}}" alt="user">
            </a>
          </div>
          <div class="comment_header_name">
            <a ng-click="showUserModal(comment.user)">{{comment.user.name}}</a>
          </div>
          <div class="comment_footer_block float_right" ng-if="$root.admin() && comment.deleted_at != null" ng-click="restore(comment)">
            <div class="comment_footer_block_text"><i class="fa fa-undo edit_icons" aria-hidden="true"></i></div>
          </div>
        </div>
        <div class="comment_body clearfix" ng-init="sanitize(comment)">
          <div ng-bind-html="comment.sce_html"></div>
        </div>
        <div class="comment_body clearfix" ng-if="comment.pinning && $root.powerUser()">
          <form class="comment_answer_form clearfix">
            <textarea name="comment_answer_text" ng-model="pinForm.text" ng-keyup="autoExpand($event)" ng-focus="autoExpand($event)" placeholder="Hozzászólás"></textarea>
            <a class="btn big-yellow" ng-click="sendPin(comment, pinForm)">Pin</a>
            <a class="btn big-gray" ng-click="comment.pinning = false">Mégsem</a>
          </form>
        </div>
        <div class="comment_footer clearfix">
          <div class="comment_footer_right float_right">
            <div class="comment_footer_responses float_right" ng-if="level != 1">
              <div class="comment_footer_responses_text" ng-click="toggleReplies(comment)">
                {{comment.cumulated_contributions_count}} válasz
              </div>
            </div>
            <div ng-class="commentLikeClass(comment)" class="comment_footer_likes float_right" ng-if="comment.deleted_at == null" ng-click="sendLike(comment)">
              <p class="comment_footer_likes_sum">{{ comment.likes_count }}</p>
              <i class="fa fa-heart comment_footer_likes_img" aria-hidden="true"></i>
            </div>
            <div class="comment_footer_pin float_right" ng-if="$root.powerUser() && comment.deleted_at == null" ng-click="pin(comment, $event)">
              <div class="comment_footer_pin_text"><i class="fa fa-thumb-tack edit_icons" aria-hidden="true"></i></div>
            </div>
            <div class="comment_footer_moderate float_right" ng-if="$root.powerUser() && comment.deleted_at == null" ng-click="moderate(comment)">
              <div class="comment_footer_moderate_text"><i class="fa fa-trash edit_icons" aria-hidden="true"></i></div>
            </div>
            <div class="comment_footer_block float_right" ng-if="$root.admin() && comment.deleted_at == null" ng-click="block(comment.user)">
              <div class="comment_footer_block_text"><i class="fa fa-user-times edit_icons" aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="comment_footer_left clearfix">
            <div class="comment_footer_icon_container">
              <i class="fa fa-clock-o comment_footer_icon" aria-hidden="true"></i>
            </div>
            <div class="comment_footer_time">
              {{comment.created_at | date: 'yyyy. MMMM d. HH:mm'}}<!-- 2017. szeptember 10.   18:35 -->
            </div>
          </div>
        </div>

        <div class="comment_section">
          <comments
            comment="comment"
            authenticity_token="authenticity_token"
            topic="topic"
            level="level"
            user="user"
            total_count="total_count"
            ng-if="comment.showReplies || comment.showReply">
          </comments>
        </div>
        <div class="comment_answer_button clearfix" ng-if="$root.simple() && level != 1 && comment.deleted_at == null">
          <a ng-click="toggleReply(comment)" class="btn small-yellow">Válaszolok</a>
        </div>
      </div>
    </div>
  </div>


  <form class="comment_answer_form clearfix with-margin" ng-if="$root.simple() && comment && comment.showReply">
    <textarea name="comment_answer_text" ng-model="form.text2" ng-keyup="autoExpand($event)" placeholder="Válasz"></textarea>
    <a class="btn big-yellow" ng-click="sendComment(comment, this)">Mehet</a>
    <a class="btn big-gray" ng-click="comment.showReply = false">Mégsem</a>
  </form>

  <div class="comments_loading" ng-show="loading"></div>
  <div class="more-comments clearfix" ng-if="!loading && total_count - comments.length > 0">
    <a class="btn big-yellow" ng-click="loadContributions()">További {{ total_count - comments.length }} hozzászolás</a>
  </div>
</div>
