<div class="modal">
  <div class="modal-content">
    <span class="close" ng-click="$parent.showContributorModal = false">&times;</span>
    <div class="info_pane">
      <div class="clearfix">
        <div class="user-avatar">
          <img ng-src="<%= Rails.configuration.x.api_url %>{{modalUser.avatar_url}}"/>
        </div>
        <h3>{{ modalUser.name }}</h3>
        <p class="info_pane_intro">{{ modalUser.contributions_count }} hozzászólás</p>
      </div>
      <h4>Bio</h4>
      <div ng-init="sanitizemodal()">
        <div ng-bind-html="modalUser.sce_bio"></div>
      </div>
      <p class="info_pane_intro">{{ modalUser.bio }}</p>
    </div>
  </div>
</div>
