<div class="comment_box pin_box" ng-show="!loading">
  <div class="comment_thread clearfix" ng-repeat="pin in topic.pins">
    <div class="comment main_comment" >
      <div class="comment_header clearfix">
        <div class="comment_header_avatar_container">
          <img class="comment_header_avatar" ng-src="<%= Rails.configuration.x.api_url %>{{pin.contribution.user.avatar_url}}" alt="user">
        </div>
        <div class="comment_header_name">
          {{ pin.contribution.user.name }}
        </div>
      </div>
      <div class="comment_body pin_body clearfix" ng-init="sanitize(pin)">
        <div ng-bind-html="pin.sce_html"></div>
      </div>
      <div class="comment_footer clearfix">
        <div class="comment_footer_right float_right">
          <div class="comment_footer_moderate float_right" ng-if="$root.admin()" ng-click="deletePin(pin)">
            <div class="comment_footer_moderate_text"><i class="fa fa-trash edit_icons" aria-hidden="true"></i></div>
          </div>
        </div>
        <div class="comment_footer_left clearfix">
          <div class="comment_footer_icon_container">
            <i class="fa fa-clock-o comment_footer_icon" aria-hidden="true"></i>
          </div>
          <div class="comment_footer_time">
            {{pin.contribution.created_at | date: 'yyyy. MMMM d. HH:mm'}}<!-- 2017. szeptember 10.   18:35 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
