<div class="modal">
  <div class="modal-content">
    <span class="close" ng-click="$parent.showRegModal = false">&times;</span>
    <div class="info_pane">
      <p class="info_pane_title">Ez itt a Direkt36 kommentelési rendszere</p>
      <p class="info_pane_intro">
Kérünk, hogy csak a témához tartozó hozzászólásokat írj.
A nem a témába vágó, személyeskedő, jog- vagy jó ízlést
sértő tartalmat töröljük, a visszaesőktől megvonjuk
a hozzászólási jogot, mert azt szeretnénk, ha ez az oldal
az értelmes vita és a hasznos információk megosztásának helye lenne.</p>
      <button type="button" class="btn big-red info_pane_accept_button" ng-click="modalOk()">Rendben</button>
      <p class="info_pane_intro">Ha kérdésed vagy problémád van, ide <a href="mailto:komment@direkt36.hu">írhatsz nekünk!</a></p>
      <p class="info_pane_intro">
Ha még nem vagy a támogatónk, de szeretnéd segíteni a munkánkat, akkor <a href="https://direkt36.hu/tamogatas">kattints ide!</a></p>
    </div>
  </div>
</div>
