<div ng-if="topicLoaded && user">
  <div class="info_pane2" ng-if="topic.current_user_likes.length == 0">
    <h2>Ez a cikk <em>{{ topic.likes_count || 0 }}</em> olvasónknak tetszett. Ha neked is tetszett, akkor nyomd meg ezt a gombot!</h2>
    <a ng-click="likeTopic()" class="btn big-red xxl-red info_pane_accept_button">Tetszik</a>
  </div>
  <div class="info_pane2" ng-if="topic.current_user_likes.length > 0">
    <h2 class="red" ng-if="topic_user_like">Köszönjük!</h2>
    <h2 ng-if="!topic_user_like">Ez a cikk <em>{{ topic.likes_count || 0 }}</em> olvasónknak tetszett.</h2>
    <p>Segítsd a munkánkat, oszd meg a cikket ismerőseiddel is!</p>
    <div class="shares">
      <a ng-click="shareFacebook()"><i class="fa fa-facebook-official social_img"></i></a>
      <a ng-click="shareGoogle()"><i class="fa fa-google social_img"></i></a>
      <a ng-click="shareTwitter()"><i class="fa fa-twitter-square social_img"></i></a>
      <a ng-click="shareTumblr()"><i class="fa fa-tumblr-square social_img"></i></a>
    </div>
  </div>
</div>
<div ng-if="topicLoaded && !user">
  <div class="info_pane2">
    <h2>Ez a cikk <em>{{ topic.likes_count || 0 }}</em> olvasónknak tetszett.</h2>
    <p>Segítsd a munkánkat, oszd meg a cikket ismerőseiddel is!</p>
    <div class="shares">
      <a ng-click="shareFacebook()"><i class="fa fa-facebook-official social_img"></i></a>
      <a ng-click="shareGoogle()"><i class="fa fa-google social_img"></i></a>
      <a ng-click="shareTwitter()"><i class="fa fa-twitter-square social_img"></i></a>
      <a ng-click="shareTumblr()"><i class="fa fa-tumblr-square social_img"></i></a>
    </div>
  </div>
</div>
