<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="info_pane">
      <p class="info_pane_title">Ez itt a Direkt36 kommentelési rendszere</p>
      <p class="info_pane_intro">Kérünk, hogy csak a témához tartozó kommenteket küldj. A nem a témába vágó, személyeskedő, jogsértő vagy jó ízlést sértő kommenteket töröljük, és a felhasználót figyelmeztetjük a szabályzat megszegésének további következményeire. Aki többször tesz közzé nem kívánatos tartalmat, attól megvonjuk a kommentelési jogot, mert azt szeretnénk, ha a kommentelés az értelmes vita és a hasznos információk megosztásának helye lenne. A megvont kommentelési jog egyedi elbíráslás alapján, külön kérésre visszaadható.<br>
      Ha kérdésed van, <a href="#">írj nekünk!</a></p>
      <button type="button" class="btn big-red info_pane_accept_button">Rendben</button>
      <p class="info_pane_support_us">Ha még nem vagy a támogatónk, de tetszik, amit csinálunk és szeretnéd segíteni a munkánkat, akkor <a href="#">kattints ide!</a></p>
    </div>
  </div>
</div>
