<div ng-controller="adminController">
  <p>
    <a ng-click="downloadUsers()">Felhasználók letöltése</a>
    | <a ng-click="uploadUsers()">Felhasználók feltöltése</a>
  </p>
  <div ng-if="showUpload">
    <p>Formátum: <code>email,nev</code></p>
    <p><input type="file" id="uploadFile" csv-read=""/></p>
    <p ng-if="doneCount + errorCount < linesCount" class="btn big-red">Ne kapcsold ki ezt a böngészőablakot amíg az alábbi számláló pörög!</p>
    <p ng-if="linesCount > 0">{{ doneCount }} ok, {{ errorCount }} hibas a {{ linesCount }} elembol</p>
    <textarea style="height:auto;min-height:300px;" ng-if="linesCount > 0">{{ errorText }}</textarea>
  </div>
  <div ng-if="showDownload" ng-init="createDownloadText()">
    <p>
      <a ng-href="{{ downloadText }}" download="felhasznalok.csv" class="btn red">Letöltés</a>
    </p>
  </div>
  <div ui-grid="gridOptions" class="myGrid" ng-if="showGrid"></div>
</div>
<!-- href="data:attachment/csv,a,b,c" download="felhasznalok.csv" -->
