<sharebox></sharebox>

<pins></pins>

<div class="section_divider">
  <h3>ITT SZÓLHATSZ HOZZÁ A CIKKHEZ</h3>
  <p class="section_divider_summary">(eddig {{topic.cumulated_contributions_count}} hozzászólás érkezett)</p>
</div>
<div ng-controller="AuthenticationController" class="clearfix">
  <authenticate></authenticate>
</div>
<comments
  comment="comment"
  authenticity_token="authenticity_token"
  topic="topic"
  level="level"
  user="user"
  total_count="total_count"
   ng-if="topicLoaded"></comments>

<regmodal ng-if="showRegModal"></regmodal>
<contributor ng-if="showContributorModal"></contributor>
<sharemodal ng-if="showShareModal"></sharemodal>
