<link rel='stylesheet' id='twentyfourteen-opensans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '112660572809565',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/hu_HU/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="content">
  <div class="comment_section_wrapper" ng-app="zetland">
    <div
      class="comment_section"
      ng-controller="commentController as main"
      ng-init="setTopic(1)"
    >
      <zetlandapp></zetlandapp>
    </div>
  </div>
</div>
