<p>Kedves felhasználó!</p>

<p>Ezt a levelet a Direkt36 kommentelési rendszerétől kaptad, mert a támogatod
a munkánkat, vagy pedig azért, mert regisztráltál az oldalon. Ha szeretnél
hozzászólni a cikkeinkhez, akkor erősítsd meg a regisztrációdat erre linkre kattintva.</p>

<p><%= link_to t('.confirm_account_link'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>

<p>A link 3 nap múlva lejár, ha addig nem kattintasz rá, akkor a hozzáférésedet
töröljük, de később bármikor újra regisztrálhatsz.</p>

<p>Üdvözlettel, a Direkt36 csapata</p>
