Kedves felhasználó!

Ezt a levelet a Direkt36 kommentelési rendszerétől kaptad, mert a támogatod
a munkánkat, vagy pedig azért, mert regisztráltál az oldalon. Ha szeretnél
hozzászólni a cikkeinkhez, akkor erősítsd meg a regisztrációdat erre linkre kattintva.

<%= confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}) %>

A link 3 nap múlva lejár, ha addig nem kattintasz rá, akkor a hozzáférésedet
töröljük, de később bármikor újra regisztrálhatsz.

Üdvözlettel, a Direkt36 csapata
